body {
    text-align: center;
    padding: 30px;
    background:#f5deb3;
}

.title {
    font-size: 150px;
    font-weight: bold;
    color: white;
}

.discription {
    font-size: 60px;
    color: white;
    font-weight: bold;
}

.start-btn {
    height: 50px;
    width: 200px;
}

h3 {
    color:red;
}