body {
    text-align: center;
    padding: 30px;
}

.title {
    font-size: 90px;
    font-weight: bold;
}

.discription {
    font-size: 40px;
    font-weight: bold;
    margin: 100px;
}

.start-btn {
    height: 50px;
    width: 350px;
}

h3 {
    color:red;
}